@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
}

:root {
	--color-bg-btn: #0084ff37;
	--color-border: #0084ff;
	--color-shadow: #03244386;
	/* --color-bg-btn: #ffffff67;
	--color-border: #ffffff;
	--color-shadow: #7595b386; */
}

@layer components {
	.glassmorphism {
		@apply bg-[var(--color-bg-btn)] border-[1px] border-[var(--color-border)] backdrop-blur-sm shadow-lg;
	}
	.glassmorphism-white {
		@apply bg-stone-50 border-[1px] border-[var(--color-border)] backdrop-blur-sm shadow-lg;
	}
}

/* customize zoom controller */

.leaflet-control-zoom {
	@apply absolute top-[83dvh] left-[96dvw] z-[998];
}

.leaflet-top {
	@apply z-[998];
}

.leaflet-bar a {
	@apply text-stone-900 bg-[var(--color-bg-btn)] rounded-lg border-[1px] border-[var(--color-border)] backdrop-blur-sm shadow-lg transition-all duration-300 hover:bg-blue-900 hover:text-stone-200;
}

/* scroll bar customizing */

.scroll::-webkit-scrollbar {
	@apply bg-transparent w-3 rounded-lg;
}

.scroll::-webkit-scrollbar-thumb {
	@apply bg-blue-400 rounded-md;
}

/* customize popup */

.leaflet-popup-content-wrapper {
	@apply glassmorphism font-semibold text-[0.6rem];
}

.leaflet-popup-tip {
	@apply glassmorphism;
}

.leaflet-popup-content {
	@apply text-blue-950;
}

/* customize tooltips */

.leaflet-tooltip-pane {
	@apply font-semibold;
}
