@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
}

:root {
	--color-bg-btn: #0084ff37;
	--color-border: #0084ff;
	--color-shadow: #03244386;
}

@layer components {
	.glassmorphism {
		@apply bg-[var(--color-bg-btn)] border-[1px] border-[var(--color-border)] backdrop-blur-sm shadow-lg shadow-[var(--color-shadow)];
	}
}

.leaflet-control-zoom {
	left: 89rem;
	top: 42rem;
	z-index: 999;
	position: absolute;

	@apply bg-[var(--color-bg-btn)] rounded-lg border-[1px] border-[var(--color-border)] px-8 py-2 backdrop-blur-sm shadow-lg shadow-[var(--color-shadow)];
}

.leaflet-bar {
	background-color: transparent;
}
